body{
    margin-bottom: 300px;
    background: url("clock-2bg.jpg");
    background-size: cover;
}
.card{

    width: 110px;
    display: inline-block;
    margin: 20px 5px 5px 5px;
    padding: 5px;
    font-weight: bold;
    text-align: center;

}
#clock{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 100px auto;
    background: url("clock.jpg");
    background-size: contain;
    overflow: hidden;
}


#second,#minute,#hour{
    width: 140px;
    height: 1px;
    border: 2px solid black;
    position: relative;
    top: 150px;
    /*transform: rotate(90deg);*/ /*//(sec*6)+90 to rotate according to the seconds.*/
    transform-origin: 100% 100%;

}
#minute{
    border: 3px solid red;
    top: 155px;
    /*transform: rotate(90deg);*/ /*//(sec*6)+90 to rotate according to the minutes.*/
}

#hour{
    border: 4px solid yellow;
    top: 160px;
    /*transform: rotate(414deg);*/ /*//(hour*30)+90 to rotate according to the hour.*/
}
